@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities{
  .containers{
    padding: 0 1rem;
    margin: auto;
  }
  .btn-style{
    @apply bg-gradient-to-br backdrop-blur-xl from-transparent to-slate-900 border border-slate-800 rounded-full px-16 py-5 font-bold transition-all hover:border-slate-400
  }
  
}