@import url(https://db.onlinewebfonts.com/c/3e474a09226e19ab5228436820318a72?family=PolySans+Bulky+Wide);

@font-face {
  font-family: "PolySans Bulky Wide";
  src: url("https://db.onlinewebfonts.com/t/3e474a09226e19ab5228436820318a72.eot");
  src: url("https://db.onlinewebfonts.com/t/3e474a09226e19ab5228436820318a72.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/3e474a09226e19ab5228436820318a72.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/3e474a09226e19ab5228436820318a72.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/3e474a09226e19ab5228436820318a72.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/3e474a09226e19ab5228436820318a72.svg#PolySans Bulky Wide")format("svg");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --vp-c-text-1: rgba(255, 255, 245, .86);
  --border-thickness: 1px;
  --violet-a1: #4422ff0f;
  --mint-2: #0f1b1b;
  --pink-3: #37172f;
  --indigo-2: #141726;
  --cyan-3: #082c36;
}
.title-style{
  font-family: "PolySans Bulky Wide";
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.box-shadow-hover:hover {
  filter: drop-shadow(0 5 8px rgba(19, 125, 255, 0.5));
  transform:translateY(-5px) ;
  transition: all 0.35s ease-in-out;
 }
 .btn-rules{
  box-shadow: inset 0 1px #0000001a,inset 0 0 0 var(--border-thickness) var(--vp-c-text-1);
  transition: all 0.35s ease-in-out;
 }
 .hamburger .line1, .hamburger .line2{
  transition: all 0.35s ease-in-out;
 }
 .hamburger .line1{
  transform-origin: 0% 100% 0%;
 }
 .hamburger .line2{
  transform-origin:  100% 0% 0%;
 }
 .checkbox:checked ~ .hamburger >.line1{
  transform: rotate(45deg);
 }
 .checkbox:checked ~ .hamburger >.line2{
  transform: rotate(-45deg);
 }
 .element{
  background: radial-gradient(ellipse at 100% 100%, hsl(254 100% 6% / 0.07), var(--violet-a1), transparent), linear-gradient(to bottom right, var(--mint-2), var(--indigo-2), var(--pink-3), var(--cyan-3));
}
.bgGrid{
  background-repeat: repeat;
  background-clip: border-box;
  background-size: 11%;
  background-image: url(/grid.svg);
}
.overlay::before,
.overlay::after{
  content: "";
  position: absolute;
  top: 0;
  width: 30%;
  height: 100%;
}
.overlay::before{
  left: 0px;
  background-image: linear-gradient(to right, #18181b, #18181b00);
  z-index: 10;
}
.overlay::after{
  right: 0;
  background-image: linear-gradient(to left, #18181b, #18181b00);
}
@layer utilities{
  .textTitle{
    @apply text-[3.5rem] text-center max-[600px]:text-3xl leading-none
  }
  .containers{
    padding: 0 1rem;
    margin: auto;
  }
  .btn-primary{
    @apply backdrop-blur-xl border rounded-lg px-8 py-3 max-[600px]:px-4 max-[600px]:py-2 max-[397px]:px-2 font-bold transition-all ease-in-out duration-100 
  }
  .flexCenter{
    @apply flex justify-center items-center
  }
  .flexBetween{
    @apply flex justify-between items-center
  }
  .flexColCenter{
    @apply flex flex-col items-center justify-center
  }
  .flexColCenterReverse{
    @apply flex flex-col-reverse items-center justify-center
  }
}
.carousel .controls {
  margin-bottom: 8px;
}

.carousel .slidesContainer {
  overflow: hidden;
  position: relative;
}

.carousel .slidesContainer .slideIndicator {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel .slidesContainer .slideIndicator .dot {
  width: 10px;
  height: 10px;
  background: white;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 50%;
}

.carousel .slidesContainer .slideIndicator .dot.active {
  background: black;
}

.carousel .slidesContainer .scrollLeft,
.carousel .slidesContainer .scrollRight {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  z-index: 10;
  font-size: 0.7em;
  background: white;
  padding: 4px 6px;
  border-radius: 3px;
}

.carousel .slidesContainer .scrollLeft.disabled,
.carousel .slidesContainer .scrollRight.disabled {
  opacity: 0.3;
}

.carousel .slidesContainer .scrollLeft {
  left: 6px;
}

.carousel .slidesContainer .scrollRight {
  right: 6px;
}

.carousel .slides {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.transition {
  transition: ease all 0.5s;
}

.carousel .slides .slide {
  background: #dadada;
  display: flex;
  position: relative;
}

.carousel .slides .slide .slideInner {
  background: #dadada;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}

.carousel .slides .slide .title {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  font-size: 0.7em;
  padding: 6px;
}

.customSlide {
  flex-direction: row;
  background: orange;
  width: 100%;
  height: 100%;
}

.withImage {
  overflow: hidden;
}